---
import Layout from "@layouts/Layout.astro";
---

<Layout title="About Nimo">
  <main
    class="max-w-[40ch] py-6 text-xl font-medium leading-normal text-neutral-700 sm:py-0 sm:text-2xl lg:mx-auto"
  >
    <h1
      class="text-left font-serif text-6xl text-neutral-800 drop-shadow sm:text-7xl lg:text-center"
    >
      About me
    </h1>
    <div class="mt-16 flex flex-col items-start gap-6">
      <p>
        During my master's on computer science & engineering at <a
          href="https://tue.nl/">TU/e</a
        > I learned to do independent research, becoming fluent in the academic language.
        This skill was very valuable to me, because it gave me access to the cutting
        edge of technology. I could apply it in new ways, and create things nobody
        had tried before.
      </p>
      <p>
        In the final year of my studies, I found a compelling subject in graph
        databases. I like how they let you structure your data in any way you
        like, free from technical distractions. But if we want to have good
        reliability, usability and peformance, it can be incredibly useful to
        set some limits on this structure. But it turned out that this was not
        very well supported, even at a theoretical level. So I decided to write
        a <a
          href="https://github.com/nimobeeren/thesis/raw/main/docs/thesis.pdf"
          >thesis</a
        > about it.
      </p>
      <p>
        Before my master's, I took a year to gain some professional experience
        in web development at <a href="https://deity.io/">DEITY</a>. I learned
        React, which let me build whatever UI we could think of. Through
        building out our GraphQL API, I realized how graphs and schemas made
        development so much faster and more robust, especially in combination
        with TypeScript.
      </p>
      <p>
        Besides all this computer stuff, I like to go on walks and take
        pictures, and sometimes I share the results on my <a
          href="https://instagram.com/nimobeeren/">Instagram</a
        >. I was also on the board of the student photography association <a
          href="https://dekatemousa.nl/">Dekate Mousa</a
        > for a year. Next to that, I read (mostly non-fiction) and sometimes I play
        the piano!
      </p>
      <p>
        I see myself as a generalist; I collect skills, interests and passions
        as I go. Whether it's theoretical computer science, machine learning or
        user experience, I'm always looking for ways to increase the quality of
        my work and make better informed decisions. I'm excited to dive deep
        into the next thing!
      </p>
    </div>
  </main>
</Layout>
