---
import meImage from "@images/me.webp";

const emojis = ["🎓", "🧪", "✏", "💻", "🌸", "📷", "🎹", "🔧"];
---

<div class="relative">
  <img
    src={meImage}
    class="rounded-full drop-shadow-[0_0_128px_theme(colors.sky.300)]"
  />
  <!-- <div class="absolute top-0 left-0">
    <span class="leading-none text-[64px]">🎓</span>
  </div> -->
</div>
