---
export interface Props {
  type: string;
  title: string;
  body: string;
  date: Date;
  href: string;
}

const { type, title, body, date, href } = Astro.props;
---

<li class="max-w-xs rounded-2xl overflow-hidden drop-shadow-xl bg-white">
  <article>
    <a href={href}>
      <slot />
      <div class="p-8 flex justify-between flex-col h-96">
        <div>
          <header>
            <p class="text-sky-700 text-lg font-medium leading-none">{type}</p>
            <h1 class="text-neutral-800 text-2xl mt-2 leading-tight">
              {title}
            </h1>
          </header>
          <p class="mt-4 text-xl">
            {body}
          </p>
        </div>
        <p class="mt-4 text-lg">
          {
            new Intl.DateTimeFormat("en-US", { dateStyle: "medium" }).format(
              date
            )
          }
        </p>
      </div>
    </a>
  </article>
</li>
