---
export interface Props {
  type: string;
  title: string;
  body: string;
  date: Date;
  href: string;
}

const { type, title, body, date, href } = Astro.props;
---

<li class="max-w-xs overflow-hidden rounded-2xl bg-white drop-shadow-xl">
  <article>
    <a href={href}>
      <slot />
      <div class="flex h-96 flex-col justify-between p-8">
        <div>
          <header>
            <p class="text-lg font-medium leading-none text-sky-700">{type}</p>
            <h1 class="mt-2 text-2xl leading-tight text-neutral-800">
              {title}
            </h1>
          </header>
          <p class="mt-4 text-xl">
            {body}
          </p>
        </div>
        <p class="mt-4 text-lg">
          {
            new Intl.DateTimeFormat("en-US", { dateStyle: "medium" }).format(
              date
            )
          }
        </p>
      </div>
    </a>
  </article>
</li>
