---
export interface Props {
  type: string;
  title: string;
  body: string;
  date: string;
  url: string;
}

const { type, title, body, date, url } = Astro.props;
---

<li
  class="card w-full max-w-xs overflow-hidden rounded-2xl bg-white drop-shadow-xl transition duration-300 focus-within:ring-4 focus-within:ring-sky-300 hover:scale-102 hover:drop-shadow-2xl"
>
  <article class="h-full">
    <a href={url} class="flex h-full flex-col">
      <slot />
      <div class="flex grow flex-col justify-between gap-4 p-8">
        <div class="overflow-hidden text-ellipsis">
          <header>
            <p class="card-type text-lg font-medium leading-none text-sky-700">
              {type}
            </p>
            <h1 class="mt-2 text-2xl leading-tight text-neutral-800">
              {title}
            </h1>
          </header>
          <p class="mt-4 text-xl">
            {body}
          </p>
        </div>
        <p class="text-lg leading-8">
          {
            new Intl.DateTimeFormat("en-US", { dateStyle: "medium" }).format(
              new Date(date)
            )
          }
        </p>
      </div>
    </a>
  </article>
</li>
