---
export interface Props {
  type: string;
  title: string;
  body: string;
  date: string;
  url: string;
}

const { type, title, body, date, url } = Astro.props;
---

<li class="w-full max-w-xs overflow-hidden rounded-2xl bg-white drop-shadow-xl">
  <article>
    <a href={url}>
      <slot />
      <div class="flex min-h-96 gap-4 flex-col justify-between p-8">
        <div class="overflow-hidden text-ellipsis">
          <header>
            <p class="text-lg font-medium leading-none text-sky-700">{type}</p>
            <h1 class="mt-2 text-2xl leading-tight text-neutral-800">
              {title}
            </h1>
          </header>
          <p class="mt-4 text-xl">
            {body}
          </p>
        </div>
        <p class="text-lg leading-8">
          {
            new Intl.DateTimeFormat("en-US", { dateStyle: "medium" }).format(
              new Date(date)
            )
          }
        </p>
      </div>
    </a>
  </article>
</li>
