---
import Cloud from "src/icons/Cloud.astro";
---

<div class="relative z-0 min-h-[240px]" {...Astro.props}>
  <div
    class="absolute left-1/2 -z-10 scale-100 text-white sm:top-4 sm:scale-110 lg:top-0 lg:scale-100"
  >
    <Cloud
      class="w-[600px] absolute left-[-800px] sm:left-[-892px] top-[-30px]"
    />
    <Cloud class="w-[600px] absolute left-[-620px] top-[-80px]" />
    <Cloud class="w-[600px] absolute left-[-364px] top-[-100px]" />
    <Cloud class="w-[600px] absolute left-[-48px] top-[-62px]" />
    <Cloud class="w-[600px] absolute left-[239px] top-[-119px]" />
  </div>
  <div class="relative pb-6 top-4 md:top-2">
    <div
      class="absolute top-0 bottom-0 -left-1/2 -right-1/2 -z-10 bg-white sm:hidden"
    >
    </div>
    <slot />
  </div>
</div>
