<div
  class="z-10 inline-flex flex-wrap items-end gap-x-4 border-b-4 border-b-sky-300 md:gap-x-8"
>
  <h1
    class="inline-block font-serif text-7xl font-normal text-neutral-800 drop-shadow md:text-8xl"
  >
    Nimo<br />Beeren
  </h1>
  <span class="mb-2 inline-block text-xl leading-none" aria-label="pronouns"
    >he/him</span
  >
</div>
