---
export interface Props {
  image?: string;
  emoji?: string;
  alt?: string;
}

const { image, emoji, alt } = Astro.props;
---

{
  image ? (
    <img src={image} alt={alt} width="320" height="160" />
  ) : (
    <div class="flex h-40 items-center justify-center bg-rose-300 text-6xl leading-none">
      <span aria-label={alt}>{emoji}</span>
    </div>
  )
}
