---
import type { ImageMetadata } from "astro";
import { Picture } from "astro:assets";
export interface Props {
  image?: ImageMetadata;
  emoji?: string;
  alt: string;
}

const { image, emoji, alt } = Astro.props;

if (!image && !emoji) {
  throw new Error("<ProjectImage /> must receive an image or an emoji as props");
}
---

{
  image ? (
    <Picture src={image} alt={alt} width={320} height={160} layout="fixed" />
  ) : (
    <div class="flex h-40 items-center justify-center bg-rose-200 text-6xl leading-none">
      <span aria-label={alt}>{emoji}</span>
    </div>
  )
}
