---
import { Picture } from "@astrojs/image/components";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title || "Nimo Beeren"}>
  <article
    aria-labeledby={frontmatter.titleId ||
      frontmatter.title?.toLowerCase().replaceAll(" ", "-")}
    class="prose prose-lg prose-neutral mx-auto max-w-[55ch] font-medium prose-headings:font-serif prose-headings:font-normal prose-headings:text-neutral-800 prose-headings:drop-shadow prose-h1:text-5xl sm:prose-xl sm:prose-h1:text-6xl"
  >
    <header>
      <h1 class="!m-0">{frontmatter.title}</h1>
      <div class="justify-between flex items-center">
        <div class="flex items-center gap-4">
          <Picture
            class="rounded-full shadow-glow-lg md:shadow-glow-xl"
            src="/me.jpg"
            alt="Nimo smiling at the camera"
            sizes="48px"
            widths={[48, 48 * 2]}
            aspectRatio="1:1"
          />
          <div>Nimo Beeren</div>
        </div>
        <div>{frontmatter.publishDate}</div>
      </div>
    </header>
    <slot />
  </article>
</BaseLayout>
