---
import "@fontsource/dm-sans/500.css";
import "@fontsource/dm-serif-display";
import GitHubIcon from "@icons/GitHub.astro";
import InstagramIcon from "@icons/Instagram.astro";
import TwitterIcon from "@icons/Twitter.astro";

export interface Props {
  title: string;
}

const { title } = Astro.props;

const currentYear = new Date().getFullYear();
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0369a1" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="title"
      content="Nimo Beeren | Software Engineer 🔧 Data Scientist 🧪 creative programmer 🌸"
    />
    <meta
      name="description"
      content="I'm a software engineer based in Eindhoven. I build tools that help people use data, code and science to create great things."
    />
    <meta name="author" content="Nimo Beeren" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://nimobeeren.com/" />
    <meta
      property="og:title"
      content="Nimo Beeren | Software Engineer 🔧 Data Scientist 🧪 creative programmer 🌸"
    />
    <meta
      property="og:description"
      content="I'm a software engineer based in Eindhoven. I build tools that help people use data, code and science to create great things."
    />
    <meta property="og:image" content="https://nimobeeren.com/banner.jpg" />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="@nimobeeren" />
    <meta property="twitter:url" content="https://nimobeeren.com/" />
    <meta
      property="twitter:title"
      content="Nimo Beeren | Software Engineer 🔧 Data Scientist 🧪 creative programmer 🌸"
    />
    <meta
      property="twitter:description"
      content="I'm a software engineer based in Eindhoven. I build tools that help people use data, code and science to create great things. 🧪"
    />
    <meta
      property="twitter:image"
      content="https://nimobeeren.com/thumbnail.jpg"
    />
    <title>{title}</title>
  </head>
  <body class="flex min-h-[100vh] flex-col">
    <nav class="bg-white px-6 drop-shadow-md print:hidden sm:px-8 lg:px-24">
      <ul class="mx-auto flex max-w-[1424px] justify-between">
        <li>
          <a
            class="relative -ml-6 inline-block rounded-2xl px-6 py-2 font-serif text-6xl text-neutral-700 ring-sky-300 drop-shadow transition after:absolute after:left-1/2 after:top-1/2 after:-z-10 after:block after:h-px after:w-px after:opacity-0 after:shadow-glow-sm after:transition after:duration-300 hover:after:opacity-100 focus:outline-none focus:ring-4 focus:ring-inset sm:text-7xl sm:after:shadow-glow"
            href="/">N</a
          >
        </li>
        <div
          class="-mr-3 flex items-stretch text-lg font-medium text-neutral-600 sm:-mr-4 sm:text-xl"
        >
          <li>
            <a
              class="group flex h-full items-center rounded-2xl px-3 py-2 ring-sky-300 drop-shadow-sm transition focus:outline-none focus:ring-4 focus:ring-inset sm:px-4"
              href="/projects"
            >
              <div
                class="relative py-1 after:absolute after:inset-0 after:right-full after:block after:border-b-2 after:border-b-sky-300 group-hover:after:right-0 motion-safe:after:transition-all motion-safe:after:duration-300"
              >
                projects
              </div>
            </a>
          </li>
          <li>
            <a
              class="group flex h-full items-center rounded-2xl px-3 py-2 ring-sky-300 drop-shadow-sm transition focus:outline-none focus:ring-4 focus:ring-inset sm:px-4"
              href="/about"
            >
              <div
                class="relative py-1 after:absolute after:inset-0 after:right-full after:block after:border-b-2 after:border-b-sky-300 group-hover:after:right-0 motion-safe:after:transition-all motion-safe:after:duration-300"
              >
                about
              </div>
            </a>
          </li>
        </div>
      </ul>
    </nav>
  </body>
  <div
    class="grow overflow-hidden bg-sky-50 px-6 py-12 sm:px-8 sm:py-16 md:py-24 lg:px-24"
  >
    <slot />
  </div>
  <footer
    class="bg-white py-4 px-6 drop-shadow-md print:hidden sm:px-8 lg:px-24"
  >
    <div
      class="mx-auto flex max-w-[1424px] flex-wrap items-center justify-between gap-x-2 gap-y-4"
    >
      <ul class="-ml-2 flex text-neutral-500 sm:-ml-2.5" aria-label="socials">
        <li class="rounded-2xl ring-sky-300 transition focus-within:ring-4">
          <a
            href="https://github.com/nimobeeren/"
            class="transition hover:text-sky-600 focus:outline-none active:text-sky-800"
          >
            <GitHubIcon class="w-12 h-12 p-2 sm:w-16 sm:h-16 sm:p-2.5" />
          </a>
        </li>
        <li class="rounded-2xl ring-sky-300 transition focus-within:ring-4">
          <a
            href="https://twitter.com/nimobeeren/"
            class="transition hover:text-sky-600 focus:outline-none active:text-sky-800"
          >
            <TwitterIcon class="w-12 h-12 p-2 sm:w-16 sm:h-16 sm:p-2.5" />
          </a>
        </li>
        <li class="rounded-2xl ring-sky-300 transition focus-within:ring-4">
          <a
            href="https://instagram.com/nimobeeren/"
            class="transition hover:text-sky-600 focus:outline-none active:text-sky-800"
          >
            <InstagramIcon class="w-12 h-12 p-2 sm:w-16 sm:h-16 sm:p-2.5" />
          </a>
        </li>
      </ul>
      <div class="text-sm font-medium text-neutral-600 sm:text-base">
        © {currentYear} Nimo Beeren
      </div>
    </div>
  </footer>
</html>
